<section id="login-page" ng-controller="UsersController">
    <div ng-class="{ loading: loading }" class="container login-container">
        <form ng-submit="register()" bl-form-validator>

            <img src="assets/images/logo.png" alt="logo" class="logo">

            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <div class="message"></div>
            </div>

            <div class="form-group">
                <input class="form-control" name="email" type="text" placeholder="{{ 'email' | translate }}"
                       ng-model="registerInfo.email">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" type="password" placeholder="{{ 'password' | translate }}"
                       ng-model="registerInfo.password">
            </div>
            <div class="form-group">
                <input class="form-control" name="repeatPassword" type="password"
                       placeholder="{{ 'repeatPassword' | translate }}" ng-model="registerInfo.repeatPassword">
            </div>

            <p>{{ 'alreadyHaveAccount' | translate }} <a ui-sref="home">{{ 'logInHere' | translate }}</a></p>

            <div class="login-btn">
                <button type="submit" class="btn btn-success">{{ 'register' | translate }}</button>
            </div>
        </form>
    </div>
    <div class="loader" ng-class="{ hidden: !loading }"><i class="fa fa-spinner fa-spin"></i></div>
</section>