.small {
    width: 100% !important;
}

.container {
    width: 100% !important;
    height: auto !important;
}

.page-content .content {
    height: 600px !important;
}

.modal-window {
    max-height: 250px;
    overflow: auto;
    max-width: 800px;
    overflow-x: hidden;
}
