<style>
	
</style>

    <form accept-charset="UTF-8" action="/" class="clearfix contact-form" id="contact-form">
        <div class="col-xs-12 form-group">
            <label class="control-label">First name</label>
            <input class="form-control" size="20" name="firstname" type="text">
        </div>
        <div class="col-xs-12 form-group card required">
            <label class="control-label">Last name</label>
            <input class="form-control" size="20" name="lastname" type="text">
        </div>
        <div class="col-xs-12 form-group card required">
            <label class="control-label">Email</label>
            <input class="form-control" type="text" name="email">
        </div>
        <div class="col-xs-6 form-group required">
            <label class="control-label">Phone</label>
            <input class="form-control" type="text" name="phone">
        </div>
        <div class="col-xs-6 form-group">
            <label class="control-label">Website</label>
            <input class="form-control" type="text" name="website">
        </div>
        <div class="col-xs-12 form-group required">
            <label class="control-label">Subject</label>
            <input class="form-control" type="text" name="subject">
        </div>
        <div class="col-xs-12 form-group required">
            <label class="control-label">Message</label>
            <textarea class="form-control" name="message"></textarea>
        </div>


        <div class="col-md-12 form-group">
            <hr>
            <button class="form-control btn btn-primary submit-button" type="submit">Send</button>
            <div id="sucess-message" style="color:green;padding:20px"></div>
        </div>
    </form>

<script>
	({
        name: 'form',
        nodes: ['form'],
        frameworks: ['bootstrap'],
        types: ['flow'],
        validChildren: ['flow'],
        previewScale: '0.25',
        category: 'forms',
        attributes: {
            type: {
                list: [
                    {name: 'Basic', value: ''},
                    {name: 'Horizontal', value: 'form-horizonal'},
                    {name: 'Inline', value: 'form-inline' },
                ],
                value: '',
                onAssign: function($scope) {
                    for (var i = this.list.length - 1; i >= 0; i--) {
                        if ($scope.selected.node.className.indexOf(this.list[i].value) > -1) {
                            return this.value = this.list[i];
                        }
                    }
                },
                onChange: function($scope, type) {

                    //strip any previously assigned type classes from the icon
                    for (var i = this.list.length - 1; i >= 0; i--) {
                        $($scope.selected.node).removeClass(this.list[i].value);
                    };

                    $($scope.selected.node).addClass(type.value);
                }
            }
        },
        description: 'A form to contain form elements.',
    });
</script>
