<style>
	
.image-header {
	background-image: url(../assets/images/header-bg.jpg);
	background-position: center center;
	background-size: cover;
	text-align: center;
	padding: 300px 0 200px;
	color: #fff;
}

.image-header > h1 {
	font-size: 75px;
	font-weight: 700;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.image-header > h3 {
	font-size: 40px;
	margin-bottom: 25px;
	font-style: italic;
}

.image-header > .btn-lg {
	padding: 20px 40px;
	font-size: 18px;
}

</style>


<header class="image-header">
	<h3>Welcome to our studio!</h3>
  	<h1>It's nice to meet you</h1>
  	<p><a class="btn btn-primary btn-lg" role="button">Tell me more</a></p>
</header>

<script>
	
	({
		name: 'image header',
		class: 'image-header',
	 	nodes: '*',
	 	frameworks: ['bootstrap'],
	 	types: ['flow'],
	 	validChildren: ['flow'],
	 	category: 'components',
	 	previewScale: '0.12',
	 	description: 'Hero unit with an image background.',
	})

</script>
