<style></style>

<div class="media">
	<a class="media-left" href="#">
    <img src="http://ironsummitmedia.github.io/startbootstrap-freelancer/img/profile.png">
</a>
<div class="media-body">
	<h2 class="media-heading">Media heading</h2>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
</div>
</div>

<script>
	
	({
	 	name: 'media object',
	 	nodes: '*',
	 	frameworks: ['bootstrap'],
	 	class: 'media',
	 	types: ['flow'],
	 	validChildren: ['flow'],
	 	category: 'media',
	 	previewScale: '0.3',
	 	description: 'Styled media element, image will appear on the left and text on the right.',
	});

</script>