<style type="text/css" media="screen"></style>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>


<script>
	({
		name: 'table',
	 	nodes: ['table'],
	 	frameworks: ['base'],
	 	types: ['flow'],
	 	validChildren: ['coption', 'colgroup', 'thead', 'tbody', 'tfoot', 'tr'],
	 	category: 'typography',
	 	previewScale: '0.2',
	 	hiddenClasses: ['table'],
	 	attributes: {
	 		type: {
	 			list: [
	 				{name: 'Basic', value: ''},
	 				{name: 'Striped', value: 'table-striped'},
	 				{name: 'Bordered', value: 'table-bordered'},
	 				{name: 'Hover', value: 'table-hover'},
	 				{name: 'Condensed', value: 'table-condensed'},
	 				{name: 'Responsive', value: 'table-responsive'},
	 			],
	 			value: '',
	 		}
	 	},
	})
</script>