body
{
    color: #273B97!important;
    background: #E5E9EC;
}

#dashboard-container #projects-list figure > .header{
    min-height: auto;
    padding: 10px !important;
    position: static;
    transform: none;

}
.navbar {  min-height: 62px!important; box-shadow: none!important;background-color: #3F53AF!important;overflow: inherit;margin-top: 25px}
.navbar-inverse { border: none!important; background: none;}
.container-main .navbar {  min-height: 50px!important; margin-top: 0px; position: fixed; top: 85px; width: 100%;}

#filter-bar { margin-top: 0px; }

.container-main { margin-left: 275px;  height: 100%; position: relative; top: -60px; padding-top: 85px; z-index: 0;  box-sizing: border-box; overflow: hidden;}
/*#view { padding-bottom: 108px;}*/
/*#elements-container { padding-bottom: 108px;}*/

#dashboard-container
{
    background-color: #ffffff;
}
#filter-bar .btn.btn-success.ng-binding, .navbar-btn.btn.btn-success.ng-binding{
    background-color: #fff;
    border: 1px solid #273b97;
    color: #273b97;
    font-weight: 600;
}

#filter-bar .btn.btn-success.ng-binding:hover , .navbar-btn.btn.btn-success.ng-binding:hover ,.btn.btn-primary.btn-block.start-with-blank.ng-binding:hover{
    background-color: #fff;
    color: #CEBA37;
    border: 1px solid #CEBA37;
}

button.btn.btn-primary.btn-block.start-with-blank.ng-binding{
    background-color: #3F53AF;
    border: 1px solid #273b97;
    color: #ffffff;
    font-weight: 600;
}


#new-project-container{
    background-color: #ffffff;
}
#new-project-container .categories-container li.active{
    background-color: #3F53AF;
}
.navbar-btn .btn .btn-success .ng-binding {
    background-color: #fff;
    border: 1px solid #273b97;
    color: #273b97;
    font-weight: 600;
}

.ng-scope-export-btn { display: inline-block;}
.ng-scope-export-btn .btn{ margin-right: 0px; }

.page-sidebar { padding-bottom: 0px;}
.modal-backdrop.fade.in{position:initial!important;}.page-sidebar { padding-bottom: 0px;}
.modal-backdrop.fade.in{position:initial}

@media (min-width: 980px){
    .page-sidebar .page-sidebar-wrapper {
        background-color: #1b1e24;
    }
}

.page-sidebar .page-sidebar-wrapper > ul > li {
    border: 1px solid #22262E;
    background-color: #1b1e24;
}
.page-sidebar .page-sidebar-wrapper > ul > li > a {
    color: #8b91a0;
}
.page-sidebar .page-sidebar-wrapper > ul > li a i {
    color: #8b91a0 !important;
}
.page-sidebar .page-sidebar-wrapper > ul > li.open > a, .page-sidebar .page-sidebar-wrapper > ul > li > a:hover, .page-sidebar .page-sidebar-wrapper > ul > li:hover > a {
    background: #0F131D;
    color: #ffffff;
}
.page-sidebar .page-sidebar-wrapper ul > li.open > a span.title, .page-sidebar .page-sidebar-wrapper ul > li.open > a i, .page-sidebar .page-sidebar-wrapper > ul > li.open > a i {
    color: #CEBA37!important;
}
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu{
    background-color: #22262e;
}
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li > a:hover {
    background: #0F131D !important;
}
.page-sidebar .page-sidebar-wrapper > ul > li.active > a {color: #8b91a0;}