@charset "utf-8";
/* CSS Document */

.my_planHeader {
    text-align: center;
    color: white;
    padding-top:0.2em;
    padding-bottom:0.2em;
}
.my_planTitle {
  font-size: 28px;
  font-weight: 600;
}
.my_free {
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
}
.my_planPrice {
    font-size:1.4em;
    font-weight: 400;    
}
.my_planDuration {
    margin-top: -0.6em;
    display: none;
}
.my_plan1 .sign_up .btn.btn-info {
  background-color: #fff;
  margin: 10px 0;
  padding: 2px 10px 5px;
border: 1px solid #273b97;
color: #273b97;
}
.my_plan1 .sign_up .btn.btn-info:hover {
  background-color: #fff;
  color:#CEBA37;
  border:1px solid #CEBA37;
}
.my_plan2 .sign_up .btn.btn-info {
  background-color: #fff;
  margin: 10px 0;
  padding: 2px 10px 5px;
border: 1px solid #273b97;
color: #273b97;
}
.my_plan2 .sign_up .btn.btn-info:hover {
  background-color: #fff;
  color:#CEBA37;
  border:1px solid #CEBA37;;
}
.my_plan3 .sign_up .btn.btn-info {
  background-color: #fff;
  margin: 10px 0;
  padding: 2px 10px 5px;
border: 1px solid #273b97;
color: #273b97;
}
.my_plan3 .sign_up .btn.btn-info:hover {
  background-color: #fff;
  color:#CEBA37;
  border:1px solid #CEBA37;
}

.my_plan4 .sign_up .btn.btn-info {
  background-color: #fff;
  margin: 10px 0;
  padding: 2px 10px 5px;
border: 1px solid #273b97;
color: #273b97;
}
.my_plan4 .sign_up .btn.btn-info:hover {
  background-color: #fff;
  color:#CEBA37;
  border:1px solid #CEBA37;
}

.colored {
  background-color: #273b97 !important;
}
.colored i.my_check {
  color: #fff !important;
}
.colored.my_plan2 {
  color: #fff !important;
}










.my-plans-bar {
  margin: 35px 0;
}
.my-plans-bar h2 {
  background-color: #fff;
  border: 1px solid #ceba37;
  border-radius: 5px;
  color: #ceba37;
  font-size: 34px;
  font-style: italic;
  font-weight: 600;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  width: 70%;
}
.fa.fa-close.my_check {
  color: #273B97;
}
@media (max-width: 768px) {
    .my_planTitle {
        font-size:small;
    }
	.my_free {
	  font-size: small;
	  line-height:14px;
	}    
}
/* --- Features ------------------------- */
.my_feature {
  border-right: 1px solid #ceba37;
  color: #273b97;
  line-height: 40px;
}
@media (max-width: 768px) {
    .my_feature {
        text-align: center
    }
 }
.my_featureRow {
  border: 1px solid #ceba37;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}
/* --- Plan 1 --------------------------- */
.my_plan1 {
    background: #fff;
}

.my_planHeader.my_plan1 a {
    background: rgba(42, 87, 129, 1);
    color:white;
}

.my_planHeader.my_plan1 {
    background: #fff;
    border: 1px solid rgb(206, 186, 55);
	color:#ceba37;
}
/* --- Plan 2 --------------------------- */
.my_plan2 {
    background: #fff;
}

.my_planHeader.my_plan2 a {
    background: rgb(108, 131, 62);
    color:white;
}

.my_planHeader.my_plan2 {
    background: #fff;
    border-bottom: 1px solid rgb(206, 186, 55);
	border-top: 1px solid rgb(206, 186, 55);
	color:#ceba37;
}
/* --- Plan 3 --------------------------- */
.my_plan3 {
    background: #fff;
}

.my_planHeader.my_plan3 a {
    background: rgb(199, 127, 40);
    color:white;
}

.my_planHeader.my_plan3 {
    background: #fff;
    border: 1px solid #ceba37;
	color:#ceba37;
}



.my_plan4 {
    background: #fff;
}

.my_planHeader.my_plan4 a {
    background: rgb(199, 127, 40);
    color:white;
}

.my_planHeader.my_plan4 {
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid #ceba37;
  border-right: 1px solid #ceba37;
  border-top: 1px solid #ceba37;
  color: #ceba37;
}






.my_planFeature {
  border-right: 1px solid #ceba37;
  font-size: 2em;
  line-height: 40px;
  text-align: center;
}
.my_planFeature.my_plan3.no-border {
  border-right: medium none;
}

.my_planFeature i.my_check {
    color: #CEBA37;
}