.user-selectable {
	.user-select(initial);
}

#permissions-modal, #default-permissions-modal {
	text-transform: capitalize;

	p {
		text-transform: none;
		margin: 10px 0 0 13px;
	}

	li {
		margin-bottom: 10px;
		padding-bottom: 20px;
		border-bottom: 1px solid darken(@gray-lighter, 10%);
	}

	
	.toggle {
		display: inline-block;
	}


	.action-name {
		font-family: Roboto;
		font-size: 16px;
		vertical-align: top;
		padding-top: 3px;
		display: inline-block;
		width: 30%;
	}

	.single-permission { 
		h4 {
			display: inline-block;
			width: 30%;
		}

		.toggle {
			vertical-align: middle;
		}
	}
}

#dashboard-container {
	height: ~"calc(100% - 178px)";
	width: 100%;
	padding: 20px 0;
	background-color: @dash-body-bg;
	.user-select(none);
	overflow: auto;

	.table td, .table th {
		text-align: center;
	}

	.checkbox-pull {
		margin: 25px 0 0 17px;

		input {
			outline: none;
		}
	}

	.pagi-container {
		margin-right: 15px;
	}

	.container {
		height: 100%;
	}

	#no-projects {
		margin-top: 50px;
	}

	.alert {
		margin: 10px 0 20px;

		.close {
			margin-top: -2px;
		}
	}

	#projects-list {
		list-style: none;
		padding: 30px 0 0;
		height: 100%;

		figure {
			box-shadow: 0 1px 2px rgba(0,0,0,0.2);
			color: @gray;
			border-radius: 2px;
			margin-bottom: 15px;
			cursor: pointer;

			input {
				outline: none;
			}

			> .header {
				padding: 10px;
				background-color: #fff;
				border-top-right-radius: 2px;
				border-top-left-radius: 2px;
				border-bottom: 1px solid @gray-lighter;

				> .url {
					font-size: 13px;
				}
			}

			.img-responsive {
				width: 100%;
			}

			> .spinner {
				position: absolute;
				top: 0;
				font-size: 60px;
				background-color: rgba(0, 0, 0, 0.7);
				color: #fff;
				width: 90%;
				width: ~"calc(100% - 30px)";
				height: 96%;
				border-radius: 2px;
				padding: 30% 0 0 40%;
			}

			> figcaption {
				padding: 10px;
				background-color: #fff;	
				border-bottom-right-radius: 2px;
				border-bottom-left-radius: 2px;
				border-top: 1px solid @gray-lighter;

				> .name {
					font-weight: bold;
					padding-top: 3px;
					max-width: 140px;
					white-space: nowrap;
  					overflow: hidden;
					text-overflow: ellipsis;
				}

				.fa {
					padding: 6px 7px;
					color: #fff;

					&:hover {
						cursor: pointer;
						transform: scale(1.1);
					}
				}

				.delete-project {
					background-color: @brand-danger;
					margin-right: 1px;
				}

				.edit-project {
					background-color: @brand-primary;
				}

				.publish-project {
					background-color: lighten(@brand-primary, 10%);
				}
			}
		}
	}
}

#filter-bar {
	margin-top: @navbar-height;
	padding: 25px 0;
	background-color: @dash-header-bg;
	height: 127px;

	.pull-right {
		padding-top: 26px;

		> .btn {
			border: none;
			border-bottom: 3px solid darken(@brand-success, 10%);
		}
	}

	.form-group {
		display: block;
		float: left;
		margin-right: 25px;

		> .form-control {
			.box-shadow(0 1px 2px rgba(0,0,0,0.2));
			border: none;
			border-radius: 5px;
			height: 37px;
			line-height: 34px;
		}
	}
}