#new-project-container {
	background-color: lighten(@dash-header-bg, 5%);
	padding-top: @navbar-height + 62px;
	.user-select(none);

	> .container {
		padding-bottom: @navbar-height + 22px;
	}

	.start-with-blank {
		margin-bottom: 15px;
		border: none;
		border-bottom: 3px solid darken(@brand-primary, 10%);
		padding: 10px 12px;
		border-radius: 3px;
	}

	h2 {
		color: lighten(#333333, 10%);
		padding-bottom: 5px;
		border-bottom: 1px solid lighten(@gray-light, 40%);
		margin-bottom: 35px;
	}

	.colors-container {
		background-color: #fff;
		border-radius: 3px;
		.box-shadow(0 1px 2px rgba(0,0,0,0.1));

		h4 {
			margin: 0;
			padding: 10px 0 10px 20px;
			border-bottom: 1px solid @gray-lighter;
			font-family: Roboto;
		}

		ul {
			padding: 10px 20px;
		}

		li {
			display: inline-block;
			width: 36.5px;
			height: 36.5px;
			margin: 0 10px 10px 0;
			border: 3px solid transparent;

			&:nth-child(5n) {
				margin-right: 0;
			}

			&:hover {
				cursor: pointer;
			}

			&.active {
				border-color: darken(@brand-primary, 5%);
			}
		}
	}

	.categories-container {
		margin-top: 17px;
		background-color: #fff;
		border-radius: 3px;
		.box-shadow(0 1px 2px rgba(0,0,0,0.1));

		h4 {
			margin: 0;
			padding: 10px 0 10px 20px;
			border-bottom: 1px solid @gray-lighter;
			font-family: Roboto;
		}

		li {
			padding: 10px 15px;
			color: @gray-light;
			border-bottom: 1px solid @gray-lighter;

			&:last-of-type {
				border-bottom-right-radius: 6px;
				border-bottom-left-radius: 6px;
			}

			&:hover {
				cursor: pointer;
				background-color: lighten(@brand-primary, 20%);
				color: #fff;
			}

			&.active {
				background-color: @brand-primary;
				color: #fff;
			}
		}
	}

	.no-results {
		text-align: center;
		font-size: 22px;
		margin-top: 15%;
	}

	figure {
		padding: 0 8px 0;
		margin-bottom: 16px;

		> .img-responsive {
			.box-shadow(0 1px 2px rgba(0,0,0,0.1));

			&:hover {
				cursor: pointer;
			}
		}

		> figcaption {
			.box-shadow(0 1px 2px rgba(0,0,0,0.1));
			border-top: 1px solid @gray-lighter;
			text-align: center;
			padding: 10px 5px;
			background-color: #fff;
			color: @gray-light;
			//border-bottom-right-radius: 6px;
			//border-bottom-left-radius: 6px;
		}
	}
}