#pages-panel {
	color: #50575b;

	> .flyout-close {
		left: -38px;
	}

	> .inner-content {
		height: 100%;
		width: 100%;
	}

	#pages-list {
		height: 100%;
		padding: 0;
		border-right: 1px solid #ced0d2;
		background-color: #F5F6F6;

		> .header {
			.clearfix();
			padding: 25px 25px;
			.box-shadow(0px 2px 4px #bbb);
			background-color: #fff;
			height: 85px;

			> .pull-left {
				font: bold 23px Roboto;
			}

			> .btn {
				padding: 4px 17px 4px 20px;
				border-radius: 2px;
				margin-top: 5px;

				> .fa {
					padding-right: 15px;
				}
			}
		}

		> .body {
			padding-top: 20px;
			height: 80%;
			height: ~"calc(100% - 85px - 55px)";
			overflow: auto;
			min-width: 195px;

			> .list-unstyled {
				padding: 0 25px;
				margin: 0;
				height: 100%;

				> li {
					background-color: #fff;
					padding: 8px 10px 8px 15px;
					border: 1px solid lighten(#ced0d2, 5%);
					text-transform: capitalize;
					color: @gray-light;
					font-size: 16px;
					border-bottom: none;

					&.active {
						background-color: @brand-primary !important;
						color: #fff;
						border-color: darken(@brand-primary, 5%);
					}

					&:last-of-type {
						border-bottom: 1px solid lighten(#ced0d2, 5%);
					}

					&:hover {
						cursor: pointer;
						background-color: lighten(@brand-primary, 50%);
					}
				}
			}
		}

		> .footer {
			height: 55px;
			margin: 0 15px;

			> .btn {
				border-radius: 0;
				border-bottom: 3px solid darken(@brand-danger, 10%);

				> .fa {
					margin-right: 3px;
				}
			}

			> .spinner {
				text-align: center;
				font-size: 28px;
			}
		}
	}

	#edit-page {
		height: 100%;
		padding: 0;
		background-color: lighten(#F5F6F6, 10%);

		> .inner {
			height: ~"calc(100% - 74px)";		
			padding: 0 0 0 25px;
			width: 100%;

			> .page-settings {
				padding-top: 25px;
				width: 40%;
				height: 100%;
				float: left;
				margin-right: 1%;
				border-right: 1px solid #ced0d2;
				padding-right: 25px;
				overflow-y: auto;
			}

			> .page-preview {
				padding-top: 25px;
				width: 59%;
				height: 100%;
				float: left;
			}

			h2 {
				font: bold 23px Roboto;
				padding-bottom: 20px;
				border-bottom: 1px solid lighten(#ced0d2, 5%);
				margin: 0 0 30px;
			}

			.form-group {
				> .form-control {
					border-radius: 0;
				}

				> label {
					font-weight: normal;
				}
			}

			.error {
				display: block;
				color: @brand-danger;
				margin: 8px 3px;
			}

			figure {
				.box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
				border: 1px solid @gray-lighter;
				margin-bottom: 15px;

				> figcaption {
					border-top: 1px solid @gray-lighter;
					padding: 10px 5px;
					text-align: center;
				}

				&:hover {
					cursor: pointer;
				}

				&.active {
					border-color: @brand-primary;
				}
			}
		}

		.footer {
			height: 44px;
			border-top: 1px solid #ced0d2;
			padding: 15px;
			width: 100%;

			> .btn {
				border-radius: 0;
				margin-right: 10px;
			}
		}

		> .no-page-selected {
			font-size: 30px;
			text-align: center;
			margin-top: 25%;
			font-weight: bold;
			font-family: Roboto;
		}
	}
}