.pretty-select {
	background: @panel-box-background;
	width: @attributes-select-width;
	border: @panel-border;
	color: @panel-color;
	height: 30px;
	font-size: 13px;
	float: right;
	padding-left: 7px;
}

.ui-selectmenu-menu {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background: @panel-box-background;

	.select-search {
		max-width: 178px;
		margin: 10px;	
		border-radius: 0;
		border: none;
		background: lighten(@panel-box-background, 5%);
		color: @panel-color;
	}
}
.ui-selectmenu-menu .ui-menu {
	overflow: auto;
	/* Support: IE7 */
	overflow-x: hidden;
	padding-bottom: 1px;
}
.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5;
	padding: 2px 0.4em;
	margin: 0.5em 0 0 0;
	height: auto;
	border: 0;
}
.ui-selectmenu-open {
	display: block;
}
.ui-selectmenu-button {
	background: @panel-box-background;
	color: @panel-color;
	float: left;
	height: 28px;
	padding: 6px 14px;
	margin-right: 5px;
	border: none;
	border-radius-top-right: 3px;
	border-radius-top-left: 3px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.04);
	outline: none;
	display: inline-block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	cursor: pointer;
}
.ui-selectmenu-button span.ui-icon {
	right: 0.5em;
	left: auto;
	margin-top: -8px;
	position: absolute;
	top: 50%;
}
.ui-selectmenu-button span.ui-selectmenu-text {
	text-align: left;
	display: block;
	line-height: 1.4;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
	width: 16px;
	height: 16px;
	display: block;
	text-indent: -999999;
	overflow: hidden;
	background-repeat: no-repeat;
}
.ui-icon-triangle-1-s {
	background-position: -64px -16px;
}
.ui-menu {
	padding: 0;
}
.ui-menu .ui-menu-item {
	position: relative;
	background: @panel-box-background;
	color: @panel-color;
	margin: 0;
	padding: 3px 10px;
	cursor: pointer;
	z-index: 3;
	min-height: 0; /* support: IE7 */
	/* support: IE10, see #8844 */
	list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}
li.ui-state-focus {
	background: @brand-success !important;
	color: #fff !important;
}
