.ui-slider {
	position: relative;
	text-align: left;
	background: @panel-box-background;
    border-radius: 5px;
	margin: 20px 0 8px 0px;
}

.ui-slider .ui-slider-handle.blow-up {
	width: 1.7em;
	height: 1.7em;
	top: -.8em;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
	outline: none;
	background: #fff;
	transition: height 0.18s ease, width 0.18s ease, background-color 0.28s ease, border 0.18s ease;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
	background: @brand-success;
	border-radius: 5px;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .6em;
	border-radius: 3px;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.1em;
	border-radius: 50%;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}