#context-menu {
	display: none;
	position: absolute;
	border-radius: 4px;
	background-color: @panel-background;
	color: darken(#fff, 10%);
	.user-select(none);
	width: 240px;
	z-index: 49;
	font-family: "proxima-nova",Tahoma,Arial,sans-serif;

	> h5 {
		color: @panel-color;
		margin: 0 0 10px;
		text-transform: capitalize;
		border-bottom: 1px solid @panel-box-background;
		font-size: 13px;

		> .name {
			padding: 12px 10px 10px;
			float: left;
		}

		> .fa {
			padding: 12px 10px 10px;
			float: right;
			border-left: 1px solid @panel-box-background;
			height: 100%;

			&:hover {
				color: #fff;
				cursor: pointer;
			}
		}
	}

	> ul {
		margin-bottom: 7px;
	}

	.separator {
		height: 0;
		position: relative;
		border-top: 1px solid @panel-box-background;
		//border-bottom: 1px solid @panel-box-background;
		margin: 7px 5px;
		border-radius: 2px;
		pointer-events: none;
		padding: 0;
	}

	.disabled {
		color: @gray;
		pointer-events: none;

		&:hover {
			cursor: initial;
			background-color: @panel-background;
		}
	}

	li {
		.clearfix();
		font-size: 13px;
		padding: 2px 0 2px 25px;
		text-shadow: 0px 1px 1px black;

		.fa {
			padding-right: 8px;
			margin-left: -25px;
		}

		.fa-trash-o {
			padding-right: 11px;
		}

		> .command-name {
			float: left;
			padding-left: 10px;
		}

		> .command-keybind {
			float: right;
			color: @gray-light;
			padding-right: 10px; 
			font-size: 11px;
			font-weight: bold;
		}

		&:hover {
			cursor: pointer;
			background-color: lighten(@panel-background, 5%);
		}
	}
}