#description-container {
	position: absolute;
	top: 110px;
	left: 248px;
	background-color: @panel-background;
	color: @panel-color;
	width: 233px;
	padding: 5px 10px;
	font-size: 13px;
	z-index: 10;
	border: 3px solid @gray;
	border-radius: 2px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.7);
	text-align: center;
	.transition(opacity 0.1s ease-out);
	pointer-events: none;
	display: none;

	&:after, &:before {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-right-color: @panel-background;
		border-width: 9px;
		margin-top: -9px;
	}
	&:before {
		border-right-color: @gray;
		border-width: 14px;
		margin-top: -14px;
	}
}


#elements-container {
	width: 234px;
	height: 100%;
	background: @panel-background;
	box-shadow: 1px 0px 2px rgba(0,0,0,.5);
	border-right: 1px solid #111010;
	position: fixed;
	z-index: 5;
	.user-select(none);
	.transition(left 0.2s linear);

	#el-panel-top {
		position: relative;
		height: 140px;
		width: 100%;
		overflow: hidden;
	}

	#el-panel-bot {
		height: 79%;
		height: ~"calc(100% - 190px)";
		height: ~"-webkit-calc(100% - 190px)";
		overflow: auto;
	}

	#el-preview-container {
		width: 100%;
		height: 100px;
		overflow: hidden;
	}

	#elements-list {
		padding: 0;
	
		.elements-box:first-of-type {
			margin-top: 2px;
		}

		.list-unstyled {
			padding: 5px 0;
			margin: 0;
		}

		.el-list-item {
			color: @panel-color;
			background-color: @panel-box-background;
			border-radius: 3px;
			font-size: 12px;
			text-transform: capitalize;
			padding: 5.3px 10px;
			margin: 0;
			border: @panel-border;
			margin: 5px 8px 5px 10px;
			transition: all 150ms ease-out;
			.user-select(none);

			&:hover {
				background-color: lighten(@panel-box-background, 5%);
				color: @panel-color;
			}
		}

		&:hover {
			cursor: pointer;
			cursor: grab;
			cursor: -webkit-grab; 
			cursor: -moz-grab;
		}
	}

	

	#elements-panel {
		height: 100%;
	}

	.elements-panel-heading {
		color: @panel-color;
		background-color: darken(@panel-box-background, 4%);
		text-transform: uppercase;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.04);
		font-size: 10px;
		padding: 5px 10px;
		margin: 0;

		.fa {
			float: right;
		}
	}

	.panel-inner {
		height: 100%;
		overflow: hidden;
	}
}

.panel-title {
	background-image: linear-gradient(90deg, #2c2a29 0%, #32302f 100%);
	box-shadow: 0 1px 3px rgba(0,0,0,.3), inset 0 1px 0 rgba(255, 255, 255, 0.15);
	text-shadow: 0 -1px 0 #1e1d1c;
	color: rgba(255, 255, 255, 0.7);
	font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 40px;

	> .panel-name, .panel-heading-input {
		position: absolute;
		padding: 10px;
		width: 100%;
		height: 40px;
		left: 236px;
		.transition(all 0.4s ease-in-out);
		overflow: hidden;

		&.open {
			left: 0;
		}
	}

	> .panel-name {
		> span {
			display: block;
			margin-top: 4px;
			letter-spacing: 2px;
			font-size: 10px;
			text-transform: uppercase;
		}

		> .fa-css3 {
			margin-right: 12px !important;
		}

		> .fa {
			color: @panel-color;
			font-size: 11px;
			background-color: transparent;
			padding: 0;
			margin: 4px 3px 0 0;

			&:hover {
				cursor: pointer;
				color: lighten(@panel-color, 20%);
			}
		}
	}

	> .panel-heading-input {
		> input {
			background-color: @panel-box-background;
			border: @panel-border;
			box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 1px 4px rgba(0, 0, 0, 0.4);
			font-size: 12px;
			border-radius: 15px;
			padding: 7px 10px 2px;
			border: none;
			width: 87%;
			margin-top: -3px;
			outline: none;
		}

		.fa-stack {
			margin: 0;
			font-size: 10px;

			> .fa-circle {
				color: @panel-box-background;
			}

			&:hover {
				cursor: pointer;

				> .fa-circle {
					color: lighten(@panel-box-background, 20%);
				}
			}
		}
	}
}

.controls {
	height: 36px;

	> select {
		width: 60%;
		height: 20px;
		padding: 0;
		border-radius: 0;
		background-color: #141414;
		border: none;
		margin: 7px 0 0 10px;
		.box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
		font-size: 13px;
	}

	#el-search {
		height: 100%;
		width: 100%;
		padding: 0 10px;
		font-size: 13px;
		background-color: @panel-background;
		border-right: 5px solid black;
		border: none;
		outline: none;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		.placeholder(@panel-color);
		color: @panel-color;
	}

	.ui-selectmenu-button {
		float: none;
	}

	.btn {
		color: @panel-color;
		font-size: 15px;
		background-color: transparent;
		padding: 3px;
		outline: none;

		&:hover {
			color: lighten(@panel-color, 20%);
		}

		> .fa-info {
			font-size: 18px;
		}

		> .fa-search {
			font-size: 14px;
		}
	}

	.btn.inactive {
		text-shadow: 0 1px 0 #494949;
		color: #141414;
	}
}